
.block__pod {
 width: 150px;
 height: 150px;

}

.maintext {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  width: 100%;
  color: #32CD32;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
 }

.logo {
	color: white;
    padding: 3px 5px;
    font-family: 'Amatic SC', cursive;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.ooo {
  color: black;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s linear;
}
.ooo:hover {
  color: white;

}
.ooo {
   margin: 0px 500px;

}
 body {
    background: url(images/12345.jpg)
    no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; 
    margin: 0; 
   }

   .display {
    position: relative;
    top: 325px;
    margin: 0 auto;
    background-color: #32CD32;
    width: 100%;
    max-width: 50px;
    height: 3px;
    text-align: center;
     
}


   

