
.logo {
    padding: 3px 5px;
	font-family: 'Amatic SC', cursive;
    flex: 1 1 auto;
   width: 100%;
   max-width: 1000px;
   margin: 0px auto;
   text-align: left;


}

.ooo {
	color: black;
	font-size: 30px;
	text-decoration: none;
	transition: color 0.2s linear;
}
.ooo:hover {
	color: white;

}
.ooo {
   margin: 0px 500px;

}
 body {
    background: url(images/12345.jpg)
    no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; 
    margin: 0; }
   