.block {
padding: 10px 170px;
}
.block2 {
padding: 20px 168px
}
.block__pod_0 {
 width: 257px;
 height: 120px;
 padding: 10px;
 transition: 0.2s linear;
}
.block__pod_0:hover {
 width: 257px;
 height: 120px;
 padding: 10px;
 background-color: lightblue;
 

}
.block__pod_1 {
 width: 183px;
 height: 120px;
 padding: 10px;
}
.block__pod_2 {
 width: 248px;
 height: 120px;
 padding: 10px;

}
.block__pod_3 {
 width: 225px;
 height: 120px;
 padding: 10px;

}
.block__pod_4 {
 width: 235px;
 height: 120px;
 padding: 0px 10px;

}
.block__pod_5 {
 width: 208px;
 height: 120px;
 padding:0px 10px;

}
.block__pod_6 {
 width: 239px;
 height: 120px;
 padding: 0px 10px;

}
.block__pod_7 {
 width: 236px;
 height: 120px;
 padding: 0px 10px;

}
.block3 {
  width: 100%;
  height: 280px;
 
}
.maintext {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  width: 100%;
  color: #32CD32;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
 }

.logo {
	color: white;
    padding: 3px 5px;
    font-family: 'Amatic SC', cursive;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.ooo {
  color: black;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s linear;
}
.ooo:hover {
  color: white;

}
.ooo {
   margin: 0px 500px;

}
 body {
    background: url(images/12345.jpg)
    no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; 
    margin: 0; 
   }

   .display {
    margin: 0 auto;
    background-color: #32CD32;
    width: 100%;
    max-width: 50px;
    height: 3px;
    text-align: center;
     
}

h2 {
    display: block;
    font-size: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
   

